{% extends "base_generic.html" %}

{% block content %}
    <h1>Borrowed books</h1>

    {% if bookinstance_list %}
    <ul>

      {% for bookinst in bookinstance_list %} 
      {{ forloop.counter }}
      <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
        <li href="{% url 'book-detail' bookinst.book.pk %}"> {{bookinst.book.title}}</li> <li class={% if forloop.counter == 0 %}"btn-info"
class={% elif forloop.counter == 1 %}"btn-info"
class={% elif forloop.counter == 2 %}"btn-danger"
class={% elif forloop.counter == 3 %}"btn-primary"
class={% elif forloop.counter == 4 %}"btn-link"
class={% elif forloop.counter == 5 %} "btn-primary"
class={% elif forloop.counter == 6 %}"btn-warning" {% endif %}>({{ bookinst.due_back }})</li>     
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}       
{% endblock %}